# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*
unlinked_*
.dart-*
.idea/
android/
ios/
web/
linux/
macos/
windows/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Misc
*.log
*.lock
.DS_Store
